 <link rel="StyleSheet" type="text/css" href="/MoviePage.css" media="screen" >

<h2> Movies Search:</h2>

<form method="get">
    <div class="row">
        <div class="form-group col-sm-4">
            <input type="text" class="form-control" placeholder="Title Name" name="movieName">
        </div>
        <div class="form-group col-sm-4">
            <input type="submit" class="form-control btn-primary" value="Search">
        </div>
    </div>
</form>

 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Name</th>
            <th>Released Date</th>
            <th>Rating</th>
            <th>Lenght</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each arrayFilmes}}
        </h><tr>
            <td>
                <img src="{{Img_Filme}}" width="150" height="250" id="jpeg"><h id="Cover"></h>
            </td>
            <td>
               <h3><center><a href={{path}}>{{Title_Name}}</a></center></h3>
            </td>
            <td>
                {{Released_Date}}
            </td>
            <td>
                {{Rating}}
            </td>
            <td>
                {{Time}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>