<link rel="StyleSheet" type="text/css" href="/MoviePage.css" media="screen">

<h2> {{Title_Name}}</h2>

<br>

<div class="row">
  <div class="column1">
    <img src="{{Img_Filme}}" width="350" height="550" id="jpeg">
  </div>
  <div class="column2">
    <iframe width="860" height="550" src="{{Link_Trailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; 
                autoplay; clipboard-write; encrypted-media; gyroscope; 
                picture-in-picture" allowfullscreen>
        </iframe>
  </div>
</div>


<br>
<div>
    <h2>Summary:</h2>
    <br>
    {{Summary}}
</div>

<br>
<div>
    <h4>Details:</h4>
    <br>
    <div>
        <h6>Language:</h6>{{Language}}
    </div>
    <br>
    <div>
        <h6>Released_Date:</h6>{{Released_Date}}
    </div>
    <br>
    <div>
        <h6>Rating IMDB:</h6>{{Rating}}
    </div>
    <br>
    <div>
        <h6>Time:</h6>{{Time}}
    </div>
</div>
<br><br><br><br>